%h3 User

.info
  %h4 User: #{@user.name}
  %h4 Email: #{@user.email if @user.email}
  %h4 Total number of points: #{ @points }

.competitions
  %h4 My Competitions
  - @user.competitions.each do |competition|
    = link_to competition.name, competition_path(competition)
    %br

.competition_entries
  %h4 My Competition Entries
  - @user.competition_entries.each do |entry|
    = link_to user_competition_entry_path(@user, entry)
    %br

.challenge_entries
  %h4 My Challenge Entries
  - @user.challenge_entries.each do |entry|
    %p challenge

