
.row
  .pull-center
    - if user_signed_in?
      = link_to 'Create a Competition',
        new_competition_path,
        { :class => 'btn btn-success btn-xlarge', :id => 'competition' }
    - else
      = link_to 'Create a Competition',
        new_user_session_path,
        { :class => 'btn btn-success btn-xlarge', :id => 'competition' }

-#
  .users
    %h2 Users
    - @users.each do |user|
      = link_to user.name, user_path(user)
      %br


.row
  .span5.offset1
    .leaderboard
      %h2 Recent Competitions
      .entries
        - @competitions.each do |competition|
          .entry
            %h3
              = link_to competition.name,
                competition_path(competition)
            %p
              Posted #{ time_ago_in_words(competition.created_at) } ago by: #{ link_to competition.user.name, user_path(competition.user), :class => 'user' }

            - if user_signed_in?
              = link_to 'Accept',
                new_user_competition_entry_challenge_entry_path(current_user, competition),
                {  :class => 'btn btn-success btn-mini pull-right'  }
            - else
              = link_to 'Accept',
                new_user_session_path ,
                {:class => 'btn btn-success btn-mini pull-right' }
            %br
            ACCEPTED BY:</br>
            - competition.competition_entries.each do |entry|
              = link_to (image_tag avatar_url(entry.user, 30), :title => entry.user.name),
                entry.user

  .span5
    .leaderboard
      %h2 Recent Winners
      .entries
        - @entries.each do |entry|
          .entry
            = image_tag avatar_url(entry.user), :class => "style_image"
            %h4 
              = link_to entry.competition_entry.user.name,
                user_path(entry.user),
                :class => 'user'
              %span{:class => "label label-success"}
                = entry.user.points
            %p
              %h4{:class => "grey"}
                = entry.challenge.title
