-@competition.challenges.each do |challenge|
  .challenge
    %p
      Title: #{ challenge.title }
      %br
      Description: #{ challenge.description }
      %br
      Points: #{ challenge.points }
      %br
      Prize: #{ challenge.prize }
      %br
      Badge: #{ challenge.badge }
      %br


