%ul{:class=> "nav pull-right"}
  %li
    = link_to "Home", root_path, {:class=>'nav-link'}
  - if user_signed_in?
    %li
      = link_to 'Profile', user_path(current_user), :class=>'nav-link'
    %li
      = link_to 'Logout', destroy_user_session_path, :class=>'nav-link', :method=>'delete'
  - else
    %li
      = link_to 'Login', new_user_session_path, {:class=>'nav-link'}
  - if user_signed_in?
    %li
      = link_to 'Edit account', edit_user_registration_path, {:class=>'nav-link'}
    - if current_user.has_role? :admin
      %li
        = link_to 'Admin', users_path, {:class=>'nav-link'}
  - else
    %li
      = link_to 'Sign up', new_user_registration_path, {:class=>'nav-link'}
